.toplogo {
	font-family: "UniSansHeavyItalicItalic";
	font-size: 22px;
	font-color: black;
	padding-left: 20px;
	padding-top:10px;
	position:absolute;
	padding-bottom:20px;
}

.toplogo a {
	text-decoration:none;
	color:black;
}


/*
 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
                                                                                                      
*/
@font-face {
    font-family: 'UniSansHeavyItalicItalic';
    src: url('font/Uni_Sans_HeavyItalic-webfont.eot');
    src: url('font/Uni_Sans_HeavyItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Uni_Sans_HeavyItalic-webfont.woff') format('woff'),
         url('font/Uni_Sans_HeavyItalic-webfont.ttf') format('truetype'),
         url('font/Uni_Sans_HeavyItalic-webfont.svg#UniSansHeavyItalicItalic') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
 	font-family: 'UniSansBookItalicItalic';
    src: url('font/UniSansBookItalicItalic.eot');
    src: url('font/UniSansBookItalicItalic.eot?#iefix') format('embedded-opentype'),
         url('font/UniSansBookItalicItalic.woff') format('woff'),
         url('font/UniSansBookItalicItalic.ttf') format('truetype'),
         url('font/UniSansBookItalicItalic.svg#UniSansBookItalicItalic') format('svg');

    font-weight: normal;
    font-style: normal;
}

.roc-font, h1,h2,h3,h4,h5,h6 {
	font-family: 'UniSansHeavyItalicItalic';
}

/* 
██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗     ██████╗ ██╗   ██╗███████╗██████╗ ██╗    ██╗██████╗ ██╗████████╗███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║    ██║██╔══██╗██║╚══██╔══╝██╔════╝
██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║       ██║   ██║██║   ██║█████╗  ██████╔╝██║ █╗ ██║██████╔╝██║   ██║   █████╗  
██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║       ██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗██║███╗██║██╔══██╗██║   ██║   ██╔══╝  
██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║       ╚██████╔╝ ╚████╔╝ ███████╗██║  ██║╚███╔███╔╝██║  ██║██║   ██║   ███████╗
╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝        ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝ ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝   ╚═╝   ╚══════╝
    */                                                                                                                               
h1 {font-size:45px;} 

h4 {font-size: 30px;}

.clear {
	clear:both;
}

h5 {font-size: 20px;}

body {
	padding: 0;
	margin:0;
}
/*
███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
                                                               
*/
.section {
	letter-spacing: -.01em;
	border-bottom: 1px solid #CDCDCD;
	position: relative;
	background-color: #6d6c71;
	width: 100%;
	top: 0;
	padding-top:30px;
	padding-bottom: 50px;
}

.section .text {
	padding-top: 60px;
	/*padding-left: 80px;*/
	color: white;
	font-size: 60px;
	line-height: 85px;
	font-weight: normal;
	font-family: 'UniSansHeavyItalicItalic';
	text-transform: uppercase;
}
.section .graphic > * {
	max-height: 200px;
	margin-right: 20px;
	margin-left: 100px;
	margin-top: 80px;
}

.section .button {
	padding-top: 20px;
}

.section .video {
	padding-top: 20px;
}
/* Color the sections */

.section.blue {
	background: #CC0099;
}

.section.white {
	background: white;
	padding-bottom: 50px;
	padding-top: 30px;
}

.section.yellow {
	background:#6633FF;
}
.section.green {
	background: #33CC99;
}

.section .blue .getwiththeprogram .h4 {
	padding-top: 10px;
	color: blue;
}

/*  
 ██████╗██╗   ██╗███████╗████████╗ ██████╗ ███╗   ███╗    ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
██╔════╝██║   ██║██╔════╝╚══██╔══╝██╔═══██╗████╗ ████║    ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
██║     ██║   ██║███████╗   ██║   ██║   ██║██╔████╔██║    ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
██║     ██║   ██║╚════██║   ██║   ██║   ██║██║╚██╔╝██║    ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
╚██████╗╚██████╔╝███████║   ██║   ╚██████╔╝██║ ╚═╝ ██║    ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
 ╚═════╝ ╚═════╝ ╚══════╝   ╚═╝    ╚═════╝ ╚═╝     ╚═╝    ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
                                                                                                                          */
.section .logo  { 
	font-size:100px; 
}

.section.teamphotos .icon,
.section.bestworkshops .icon {
	height:150px;
	text-align: center;
}
.section.bestworkshops h4 {
	text-align: center;
	font-size: 30px;
	font-family: UniSansBookItalicItalic;
}
.section.teamphotos .thumbnail,
.section.bestworkshops .thumbnail {
	border:none;
	margin-top: 30px;
}

.section.getwiththeprogram .graphic img {
	max-height:inherit;
	height:400px;
}

.section.teamphotos .icon {
	height:200px;
}

/* 
███╗   ██╗ █████╗ ██╗   ██╗██╗ ██████╗  █████╗ ████████╗██╗ ██████╗ ███╗   ██╗    ██████╗  █████╗ ██████╗ 
████╗  ██║██╔══██╗██║   ██║██║██╔════╝ ██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║    ██╔══██╗██╔══██╗██╔══██╗
██╔██╗ ██║███████║██║   ██║██║██║  ███╗███████║   ██║   ██║██║   ██║██╔██╗ ██║    ██████╔╝███████║██████╔╝
██║╚██╗██║██╔══██║╚██╗ ██╔╝██║██║   ██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║    ██╔══██╗██╔══██║██╔══██╗
██║ ╚████║██║  ██║ ╚████╔╝ ██║╚██████╔╝██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║    ██████╔╝██║  ██║██║  ██║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
*/
.navbar {
	margin-bottom:inherit;
}

/* Give the logo in the top navigation bar a different font */
.navbar-brand {
	font-family: 'UniSansHeavyItalicItalic';
}
/*

████████╗███████╗██╗  ██╗████████╗     █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝    ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
   ██║   █████╗   ╚███╔╝    ██║       ███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║███████╗
   ██║   ██╔══╝   ██╔██╗    ██║       ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║╚════██║
   ██║   ███████╗██╔╝ ██╗   ██║       ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║███████║
   ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝       ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
                                                                                                                     
*/

/*WIll give any object a flashy effect */

.colorchange {
	text-transform: uppercase;
	color: #50ecf8;
	-webkit-animation: colorshift 10s infinite;
	-moz-animation:    colorshift 10s infinite;
 	-ms-animation:     colorshift 10s infinite;
 	-o-animation:      colorshift 10s infinite;
}


@-webkit-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}
@-moz-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}
@-ms-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}
@-o-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}


/* 
███████╗██╗ ██████╗ ███╗   ██╗      ██╗   ██╗██████╗     ███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██║██╔════╝ ████╗  ██║      ██║   ██║██╔══██╗    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
███████╗██║██║  ███╗██╔██╗ ██║█████╗██║   ██║██████╔╝    █████╗  ██║   ██║██████╔╝██╔████╔██║
╚════██║██║██║   ██║██║╚██╗██║╚════╝██║   ██║██╔═══╝     ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
███████║██║╚██████╔╝██║ ╚████║      ╚██████╔╝██║         ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝       ╚═════╝ ╚═╝         ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
                                                                                             
*/
.signup-form {
	font-family: "UniSansBookItalicItalic";
	font-size: 50px;
	line-height:60px;
	padding-top:50px;
	padding-right:160px;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
}

.signup-form input[type=checkbox] {
	margin-right:5px;
}

.signup-form td {
	font-size: 30px;
	padding:5px;
}

.signup-form td.interests {
	text-align:left;
	font-size: 18px;
}

.signup-form td.label {
	text-align: right;
	width:200px;
}

.signup-form input[type=text] {
	width: 300px; 
	height: 40px; 
	border: 1px solid #999999; 
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.signup-form select {
	font-family: "UniSansBookItalicItalic";
	font-size: 30px;
	width: 300px; 
	height: 40px; 
	border: 1px solid #999999; 
	padding: 5px;
}

.signup-form button {
	height: 50px;
	border: 1px;
	font-family: "UniSansHeavyItalicItalic";
	font-size: 30px;
	border-radius: 5px;
	padding-left:15px;
	padding-right:15px;
	background-color: #f44c3e;
	margin-top:10px;
}

.signup-form button:hover {
	background-color: #ff3434;
	cursor:pointer;
}
	
.signup-button {
	background:transparent;
	color:white;
	border-color:white;
}

.signup-button:hover {
	background:white;
}

.signup * {
	color:black;
}

/*████████╗███████╗ █████╗ ███╗   ███╗*/
/*╚══██╔══╝██╔════╝██╔══██╗████╗ ████║*/
   /*██║   █████╗  ███████║██╔████╔██║*/
   /*██║   ██╔══╝  ██╔══██║██║╚██╔╝██║*/
   /*██║   ███████╗██║  ██║██║ ╚═╝ ██║*/
   /*╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝*/

.profiles {
    display: block;
    text-align: center;
    list-style:none;
}
                                                
.profile {
    /*display: inline-block;*/
    width: 200px;
    height: 190px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(32,32,32,0.1);
    background-position: 0 0;
    margin: 25px 20px;
    position: relative;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.profile .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.75);
    -webkit-transition: opacity 0.2s cubic-bezier(0.21, 0.61, 0.35, 1);
    -moz-transition: opacity 0.2s cubic-bezier(0.21, 0.61, 0.35, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.21, 0.61, 0.35, 1);
    transition: opacity 0.2s cubic-bezier(0.21, 0.61, 0.35, 1);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.profile:hover .overlay {
    opacity:1;
}
.profile .name {
    color: #90c1c6;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    margin-top: 70px;
    font-family: "Aleo", Helvetica, Arial, sans-serif;
}
.profile span {
    display: block;
    text-align: center;
}

.profile .title {
    color: #fcfcfc;
    font-size: 19px;
    font-weight: 200;
    margin-top: 10px;
}

.profile.katie { 
    background-image:url("../img/katie.jpg");
}
.profile.pieter { 
    background-image:url("../img/pieter.jpg");
}
.profile.dinh { 
    background-image:url("../img/dinh.jpg");
}
.profile.hannah{ 
    background-image:url("../img/hannah.png");
}
.profile.richard { 
    background-image:url("../img/richard.jpg");
}
.profile.anouk { 
    background-image:url("../img/anouk.jpg");
}


/*
 *
 *   ██████╗██╗      █████╗ ███████╗███████╗███████╗███████╗
 *  ██╔════╝██║     ██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝
 *  ██║     ██║     ███████║███████╗███████╗█████╗  ███████╗
 *  ██║     ██║     ██╔══██║╚════██║╚════██║██╔══╝  ╚════██║
 *  ╚██████╗███████╗██║  ██║███████║███████║███████╗███████║
 *   ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚══════╝
 *                                                           */

.session .thumbnail {
    border: 0;
    margin:15px 0 0;
}

